body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:146px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:146px;
}
#u1 {
  position:absolute;
  left:2px;
  top:65px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:450px;
  top:30px;
  width:401px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:509px;
  top:43px;
  width:292px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:915px;
  top:54px;
  width:193px;
  height:37px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:450px;
  top:259px;
  width:1000px;
  height:550px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:550px;
}
#u9 {
  position:absolute;
  left:2px;
  top:267px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:462px;
  top:271px;
  width:976px;
  height:523px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:523px;
}
#u11 {
  position:absolute;
  left:2px;
  top:254px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:450px;
  top:209px;
  width:1000px;
  height:52px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:52px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:470px;
  top:226px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:547px;
  top:227px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:618px;
  top:227px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:-40px;
  top:820px;
  width:1900px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:590px;
  top:830px;
  width:640px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:630px;
  top:302px;
  width:40px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:690px;
  top:298px;
  width:270px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:617px;
  top:341px;
  width:53px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:690px;
  top:337px;
  width:270px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:640px;
  top:384px;
  width:27px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:690px;
  top:380px;
  width:270px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:640px;
  top:429px;
  width:27px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:690px;
  top:426px;
  width:120px;
  height:22px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35_input:disabled {
  color:grayText;
}
#u36 {
  position:absolute;
  left:840px;
  top:426px;
  width:120px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u36_input:disabled {
  color:grayText;
}
#u37 {
  position:absolute;
  left:617px;
  top:467px;
  width:53px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:690px;
  top:465px;
  width:270px;
  height:22px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u39_input:disabled {
  color:grayText;
}
#u40 {
  position:absolute;
  left:690px;
  top:502px;
  width:270px;
  height:100px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:617px;
  top:502px;
  width:53px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:643px;
  top:619px;
  width:27px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:690px;
  top:615px;
  width:270px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46 {
  position:absolute;
  left:643px;
  top:658px;
  width:27px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:690px;
  top:654px;
  width:270px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:690px;
  top:696px;
  width:140px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:146px;
  width:1900px;
  height:52px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:52px;
}
#u52 {
  position:absolute;
  left:2px;
  top:18px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:482px;
  top:162px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:572px;
  top:162px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:693px;
  top:162px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:953px;
  top:162px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:1228px;
  top:162px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:1107px;
  top:162px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:815px;
  top:162px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:1350px;
  top:160px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:1396px;
  top:16px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
