@charset "utf-8";
body{
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    outline:none;
    padding-left: 2px;
}
p{
    margin: 0;
}
button{
    cursor:pointer;
}
i{
    font-style:normal;
}
/*访客首页*/
.head_logo{
    height: 140px;
    background:#3d7508;
}
.head_title{
    width: 1000px;
    margin: 0 auto;
}
.head_title>img{
    padding-top: 30px;
    float: left;
    padding-right: 45px;
}
.head_title h3{
    margin: 0;
    color: #fff;
    font-size: 48px;
    padding-top: 40px;
    font-family: '方正综艺简体';
}
.head_title a{
    float: right;
    font-family: '微软雅黑';
    font-size: 14px;
    color: #fff;
    margin:10px 15px 0 0;
}
.head_title a img{
    padding-right: 5px;
    float:left;
}
.option_click{
    height: 58px;
    background:#e38f22;
    line-height: 58px;
}
.option_click a{
    text-align: center;
    padding:0 25px;
    border-left:1px #b6721b solid;
    float: left;
    color: #fff;
    font-family: '微软雅黑';
    font-size: 14px;
}
.option_click a:hover{
    background: #db8311;
}
a.click_switch{
    background: #db8311;
}
.switch_page{
    width: 1000px;
    margin:0 auto;
}
.page_base{
    height: 100px;
    background:#272826;
    float: left;
    width: 100%;
}
.page_base{
    color:#fff;
    font-size: 12px;
}
.page_base p{
    margin: 0;
    padding-left: 10px;
    line-height: 25px;
    width: 50%;
    float: left;
}
.page_base span{
    float: right;
    padding-right: 10px;
    position: relative;
    top: -50px;
    margin-bottom: 10px;
    width: 100%;
    text-align: right;
}
.page_left{
    width: 250px;
    float: left;
}
.page_left h4{
    background:url(../images/icon_user.png) no-repeat #3d7508 5px;
}
.page_centre h4{
    background: url(../images/icon_trends.png) no-repeat #3d7508 5px;
}
.page_right h4{
    background: url(../images/icon_notice.png) no-repeat #3d7508 5px;
}
.fast h4{
    background:url(../images/icon_fast.png) no-repeat #3d7508 5px;
}
.fruit h4{
    background: url(../images/icon_fruit.png) no-repeat #3d7508 5px;
}
.system h4{
    background: url(../images/icon_system.png) no-repeat #3d7508 5px;
}
.friendship h4{
    background: url(../images/icon_friendship.png) no-repeat #3d7508 5px;
}
.icon_laboratory h4{
    background: url(../images/icon_laboratory.png) no-repeat #3d7508 5px;
}
.download h4{
    background: url(../images/icon_download.png) no-repeat #3d7508 5px;
}
.mien h4{
    background: url(../images/icon_mien.png) no-repeat #3d7508 5px;
}
.experimental_course h4,.relevant h4,.explain h4{
    background: url(../images/icon_main_course.png) no-repeat #3d7508 5px;
}
.test_video h4,.introduce h4{
    background: url(../images/icon_test_video.png) no-repeat #3d7508 5px;
}
.course_search h4{
    background: url(../images/icon_search.png) no-repeat #3d7508 5px;
}
.ranking h4,.specifics h4{
    background: url(../images/icon_ranking.png) no-repeat #3d7508 5px;
}
.specifics img{max-width: 98%}
.more h4{
    background: url(../images/icon_test_video.png) no-repeat #3d7508 5px;
}
.personal h4{
    background: url(../images/icon_personal.png) no-repeat #3d7508 5px;
}
.suspend h4,h4{
    background:#3d7508;
    line-height: 27px;
    color: #fff;
    font-size:14px;
    font-family: '微软雅黑';
    margin: 0;
    font-weight: normal;
    padding-left: 30px;
}
.page_left i,.page_centre i,.page_right i,.page_whole i,.navigation i,.suspend i,.personal i,.course_search i,.ranking i,.experimental_course i,.test_video i,.more i,.relevant i,.explain i,.introduce i,.comment i,.upload_video i,.specifics i,.service i{
    height: 2px;
    background: #e38f22;
    float: left;
    width: 100%;
}
.suspend h4 a{
    background:url(../images/icon_close.png) no-repeat #3d7508;
    width: 20px;
    height: 20px;
    float: right;
    margin:3px 3px 0 0;
}
.page_centre{
    width: 480px;
    float: left;
}
.page_left,.page_centre{
    margin:0 10px 10px 0;
}
.page_right{
    width: 250px;
    float: left;
    margin: 0 0 10px 0;
}
.page_whole{
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.page_centre h4 a{
    float: right;
    font-family: '微软雅黑';
    color: #fff;
    margin:0 10px 0 0;
}
.page_left,.page_centre,.page_right,.page_whole{
    height: 200px;
    background: #fff;
}
.user_login,.status{
    width: 200px;
    margin: 10px auto 0;
}
.user_login ul li span{
    margin-right: 10px;
    color: #333;
    font-family: '微软雅黑';
    font-size: 12px;
    float: left;
}
.user_login ul li{
    line-height: 35px;
}
.user_login ul li img{
    float: right;
    margin-top: 5px;
}
.user_login ul li button{
    width: 93px;
    line-height: 25px;
    color: #fff;
    border:none;
    font-family: '微软雅黑';
    cursor:pointer;
}
.user_land{
    background: #069adf;
}
.user_enroll{
    background:#e38f22;
    float: right;
    margin-top: 5px;
}
.trends_time{
    width: 270px;
    float: right;
    margin: 10px 10px 0 0;
}
.trends_time ul li{
    float: left;
    width: 100%;
    line-height: 25px;
}
.trends_time ul li span{
    float: right;
    color: #f3610a;
    font-size: 12px;
}
.trends_time ul li p{
    margin: 0;
    color: #333;
    font-size: 12px;
    float: left;
    width: 175px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
i.notice_wire{
    width: 2px;
    background: #e9e9e9;
    height: 172px;
    margin:-8px 0 0 20px;
}
i.notice_round{
    height: 5px;
    width: 5px;
    background:#3d7508;
    border-radius: 50%;
    float: left;
    margin:10px 8px 0 -3px;
}
i.notice_square{
    height: 5px;
    background:#3d7508;
    width: 5px;
    margin: 11px 9px 0 11px;
}
.notice ul li{
    line-height: 25px;
    float: left;
    width: 210px;
    font-size:12px;
}
.notice ul li a{
    color: #333;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.notice{
    margin-top: 10px;
}
.fast_pass ul li{
    width: 230px;
    height: 35px;
    line-height: 35px;
    border:1px #bfbfbf solid;
    margin:0 auto 20px;
}
.fast_pass{
    margin-top: 20px;
    font-size: 12px;
}
a.appliance{
    background: url(../images/icon_order.png) no-repeat 55px 8px;
}
a.subject{
    background: url(../images/icon_course.png) no-repeat 55px 8px;
}
a.experiment{
    background: url(../images/icon_video.png) no-repeat 55px 8px;
}
.fast_pass ul li a{
    color: #333;
    width: 150px;
    height: 35px;
    float: left;
    padding-left: 80px;
    line-height: 35px;
}
.scientific_fruit ul li a{
    color: #333;
    font-size: 12px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.scientific_fruit ul li{
    width: 225px;
    text-align: center;
    float: left;
    margin: 10px 0 0 10px;
}
.scientific_fruit ul li a img{
    width: 225px;
    height: 68px;
}
.rules_system ul li a{
    color: #333;
    font-size: 12px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.rules_system ul li{
    line-height: 25px;
}
.rules_system{
    margin-top: 10px;
}
.autoplay img{
    float: left;
    margin:7px 0 0 7px;
}
.laboratory ul li{
    width: 135px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 12px;
    line-height: 25px;
}
.laboratory ul li a{
    color: #333;
}
.laboratory{
    margin: 10px 10px 0;
    height: 163px;
}
.laboratory ul li span{
    width: 18px;
    text-align: center;
    float: left;
    margin-right: 5px;
}
.navigation{
    width: 200px;
    min-height: 160px;
    background: #fff;
    float: left;
    margin: 10px 10px 0 0;
    padding-bottom: 10px;
}
.navigation h4{
    padding-left: 10px;
    font-weight: normal;
}
.navigation a{
    font-size:12px;
    line-height: 32px;
    float: left;
    width: 168px;
    margin: 5px 0 0 20px;
}
.navigation_chart,.navigation_chart1,.navigation_chart2,.navigation_chart3,.navigation_chart6,.navigation_chart7,.navigation_chart4{
    background: url(../images/icon_navigation.png) no-repeat;
    height: 35px;
}
.specific_position a.navigation_chart,.specific_position a.navigation_chart span,.specific_position a.navigation_chart1,.specific_position a.navigation_chart1 span,.specific_position a.navigation_chart2,.specific_position a.navigation_chart2 span,.specific_position a.navigation_chart6,.specific_position a.navigation_chart6 span,.specific_position a.navigation_chart3,.specific_position a.navigation_chart3 span,.specific_position a.navigation_chart4,.specific_position a.navigation_chart4 span,.specific_position a.navigation_chart7,.specific_position a.navigation_chart7 span{
    color: #fff;
}
.specific_position span{
    float: left;
    margin: 1px 10px 0 -5px;
    color: #3d7508;
}
.specific_position a{
    margin-left: -8px;
    color: #535353;
    padding-left: 20px;
}
.specific_position a p{
    margin: 0 0 0 15px;
    border-bottom: 1px #d9dfe7 solid;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.position,.position1,.position2,.position6,.position3,.position7,.position4{
    width: 790px;
    float: right;
    min-height:420px;
    background: #fff;
    margin: 10px 0;
}
h3{
    line-height:35px;
    margin: 0 10px;
    border-bottom: 1px #3d7508 solid;
    color: #323232;
    font-size: 16px;
    font-family: '微软雅黑';
    font-weight: normal;
    padding-left: 25px;
    background:url(../images/position.png) no-repeat 3px;
}
.lookup{
    width: 360px;
    margin:30px auto 0;
}
.lookup span{
    line-height: 33px;
    float: left;
    font-size: 12px;
    color: #8e8e8e;
    text-align: right;
    width: 85px;
}
.lookup input{
    margin-bottom: 5px;
}
i.warning{
    color: #f33939;
    font-size: 12px;
    float: right;
    line-height: 33px;
    font-style:normal;
}
.button_center{
    text-align: center;
    margin: 40px 0 20px 0;
}
.confirm{
    background:#3d7508;
    border:1px #305c07 solid;
    margin-right: 50px;
    width: 55px;
    height: 30px;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}
.cancel{
    background:#bbbbbb;
    border:1px #8e8e8e solid;
    width: 55px;
    height: 30px;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}
.lookup select{
    height:33px;
    color:#8e8e8e;
    margin-bottom: 5px;
}
.position p{
    color: #323232;
    font-size: 12px;
    text-align: left;
    margin: 20px 25px;
    font-family: '微软雅黑';
}
.return{
    background: #bbb;
    color: #fff;
    border:1px #8e8e8e solid;
    border-radius: 5px;
    width: 55px;
    height: 30px;
}
.position1 ul li{
    margin: 0 25px;
    color: #323232;
    font-family: '微软雅黑';
    font-size: 14px;
    line-height: 50px;
    border-bottom: 1px #ccc solid;
}
#special{
    text-align: center;
    margin-top: 150px;
    color: #323232;
    font-size: 16px;
}
#special a{
    color:#f03a3a;
}
.contact p{
    color: #323232;
    font-family: '微软雅黑';
    font-size: 14px;
    margin-bottom: 5px;
}
.materials ul li span{
    width:50px;
    float: left;
    color: #808080;
    font-size: 12px;
}
.materials ul li p{
    line-height:35px;
    margin-left: 20px;
}
.materials ul li p input{
    float: left;
    height: 30px;
    margin-right: 10px;
}
.materials{
    margin: 25px 25px 0 25px;
    font-size:12px;
    color: #323232;
    border-bottom: 1px #ccc solid;
}
.materials ul li p.materials_content{
    margin-left: 50px;
    line-height: 20px;
}
.materials ul li{
    margin-bottom: 20px;
}
.materials ul li p i{
    font-style:normal;
    color:#e83131;
}
.materials ul li p.cue{
    color:#e83131;
    margin-left: 10px;
    margin-left: 45px;
}
button.again{
    background: #3d7508;
    color: #fff;
    border: 1px #305c07 solid;
    width: 85px;
    height: 30px;
}
.suspend{
    width: 355px;
    height: 240px;
    background: #fff;
    z-index: 100;
    left: 2px;
    position: absolute;
    top: 43px;
    visibility: visible;
}
.suspend h4{
    padding-left: 10px;
}
.suspend h4 img{
    float: right;
    margin: 4px;
}
.suspend ul li{
    font-size: 12px;
    color: #333;
    margin: 15px 10px 0 15px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.example2{
    width: 180px;
    float: left;
    height: 150px;
    margin:10px;
}
.example2 ol{position:relative;height: 20px;top:-30px;right:0px;float: right;margin: 0;}
.example2 ol li{float:left;width: 20px;height: 20px;margin: 5px;background: #3c4035;color: #fff;-moz-opacity:0.9;filter:alpha(opacity=90);opacity:0.9;text-align: center;font-weight: bold;}
.example2 ol li.seleted{background: #e63838;}
.luara-left{position:relative;padding:0;overflow: hidden;}
.luara-left ul{position: relative;padding: inherit;margin: 0;}
.luara-left ul li{float: left;padding: inherit;margin: inherit;list-style: none;}
.luara-left ul li img{width: inherit;height: inherit;}
#demo{width:980px; overflow:hidden; margin:10px auto;height: 153px;}
#marquePic1 td a img,#marquePic2 td a img{
    margin-right: 10px;
    float: left;
}
#img1{
    border:1px #d9d9d9 solid;
}

/*教师*/
div.status{
    margin-top: 25px;
}
.status img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border:2px #3d7508 solid;
}
.status ul{
    float: right;
    margin-top: 5px;
    line-height: 30px;
    margin-right: 10%;
}
.status ul li{
    color: #808080;
    font-size: 12px;
    font-family: '微软雅黑';
}
.status ul li span{
    color: #333;
    font-size: 14px;
}
button.quit{
    width: 95px;
    height: 30px;
    border:none;
    background: #e48f22;
    font-size: 12px;
    font-family:'微软雅黑' ;
    color: #fff;
    margin: 25px auto 0;
    display: block;
    border-radius: 5px;
}
.order{
    width: 390px;
    float: left;
    margin:30px 0 0 30px;
}
.order ul li span{
    color: #8e8e8e;
    font-size: 12px;
    float: left;
    line-height: 30px;
    margin-right: 5px;
}
.order ul li{
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
.order ul li textarea{
    width: 245px;
    height: 85px;
    resize: none;
}
button.ordered,button.inquiry{
    width: 55px;
    height: 30px;
    background: #3d7508;
    border:1px #305c07 solid;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
}
button.inquiry{
    background: #e48f22;
    border:1px #b6721b solid;
    float: right;
}
.current{
    margin:25px 15px 0;
    color: #444;
    font-size: 12px;
}
.current table{
    width: 100%;
    border-top: 1px #d4d4d4 solid;
    border-left: 1px #d4d4d4 solid;
}
.current table tr td{
    padding-left: 5px;
    line-height: 30px;
    border-bottom: 1px #d4d4d4 solid;
    border-right: 1px #d4d4d4 solid;
}
.page_turning{
    position: absolute;
    bottom:0;
    color: #585858;
    margin: 15px 25px;
    width: 93.5%
}
.currently{
    float: right;
}
.currently button{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border:1px #ddd solid;
    float: left;
    color: #777;
    margin-left: 5px;
    font-size: 14px;
    background: #fff;
    line-height: 25px;
}
button.location{
    background:#e38f22;
    color: #fff;
}
.whether p{
    text-align: center;
    color: #323232;
    font-weight: bold;
    font-size: 16px;
    margin:65px 0;
}
.whether button{
    color: #fff;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}
.inquiry_situation{
    margin: 10px 25px;
    color: #8e8e8e;
    font-size: 12px;
}
.order_inquiry{
    background: #3d7508;
    border:1px #305c07 solid;
    width: 55px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    margin-left: 15px;
}
.not_through{
    color: #f43131;
}
.editor,.delete{
    color: #444;
    margin-right: 10px;
}
.arrange{
    margin: 20px 0 0 0;
    color: #8e8e8e;
    font-size: 12px;
}
.arrange ul li span{
    width: 130px;
    float: left;
    line-height: 30px;
    text-align: right;
    margin-right: 5px;
    height: 30px;
}
.arrange ul li{
    margin-bottom:5px;
}
.arrange ul li a{
    color: #0790c9;
    margin-right: 10px;
}
.upload{
    height: 30px;
    width: 60px;
    background: #e48f22;
    border: 1px #b6721b solid;
    color: #fff;
    border-radius: 5px;
    margin-right: 15px;
}
.submit{
    width: 55px;
    height: 30px;
    color: #fff;
    border:1px #305c07 solid;
    background: #3d7508;
    border-radius: 5px;
    margin-right: 50px;
}
.delete_file{
    width: 55px;
    height: 30px;
    color: #fff;
    border:1px #c91616 solid;
    border-radius: 5px;
    background:#ea2727;
}
.personal{
    margin: 10px 0;
    background: #fff;
    padding-bottom: 30px;
    float: left;
    width: 100%;
    min-height: 530px;
}
.personal_profile{
    margin: 20px 10px 0;
    border-bottom: 1px #ccc solid;
    width: 98%;
    float: left;
}
.personal_profile a{
    color: #fff;
    font-family: '微软雅黑';
    font-size: 14px;
    padding:0 15px;
    line-height: 33px;
    background: #b3b3b3;
    float: left;
    margin-right: 10px;
    border-radius: 5px 5px 0 0;
}
a.revise,a.display{
    background: #3d7508;
}
.user_data ul{
    float: left;
    margin: 30px 25px 0;
}
.user_data ul li{
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #444;
}
.user_data>ul>li>span{
    width: 80px;
    float: left;
    color: #808080;
    padding-right: 20px;
    text-align: right;
    height: 30px;
}
.user_data ul li textarea{
    width: 220px;
    height:75px;
    resize:none;
}
.keep{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background:#3d7508;
    border:1px #305c07 solid;
    color: #fff;
    margin-top: 10px;
}
.mine{
    margin: 20px 10px 0;
    float: left;
}
.mine a{
    float: left;
    line-height:30px;
    text-align: center;
    padding:0 10px;
    color: #fff;
    background: #a8a8a8;
    margin-right: 10px;
    font-size: 12px;
}
.about{
    margin: 10px;
    border:1px #e38f22 solid;
    float: left;
    width: 98%;
}
.about>ul>li{
    float: left;
    border-bottom: 1px #dadada solid;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.about p{
    font-size: 12px;
    color: #323232;
    line-height: 30px;
    margin: 10px 10px 0;
    padding-left: 15px;
    border-bottom: 1px #dadada solid;
}
.about p i{
    float: none;
    background: none;
    margin: 0 5px;
}
.about ul{
    margin: 15px;
}
a.course{
    background:#e38f22;
}
.about ul li img{
    border: 1px #757575 solid;
    width: 220px;
    height: 125px;
    float: left;
}
.details h5{
    margin: 0;
    color: #045486;
    font-size: 16px;
}
.details h5 a{
    float: right;
    font-size: 14px;
    font-family: '微软雅黑';
}
.compile{
    color: #3085ef;
    margin-right: 8px;
}
.remove{
    color: #f74040;
}
.details{
    margin: 0 10px;
    float: right;
    width: 707px;
}
.details p{
    border: 0;
    margin: 0;
    padding: 0;
    width: 480px;
    float: left;
    height: 70px;
    font-size: 12px;
    color: #6f6f6f;
}
.details span.adopt{
    color: #3d7508;
    font-family:'微软雅黑';
    font-size: 14px;
    padding: 0;
    margin-top: 15px;
    float: right;
}
.details span.conducted{
    color:#f73d3d;
    font-family:'微软雅黑';
    font-size: 14px;
    padding: 0;
    margin-top: 15px;
    float: right;
}
.resource_right{
    float: right;
    width: 250px;
    margin: 10px 0 15px;
}
.hunt{
    margin: 0 auto;
    width: 230px;
    height: 30px;
    display: block;
    background: #e38f22;
    color: #fff;
    border-radius: 3px;
    border: 0;
    font-size: 12px;
    font-family: '微软雅黑';
}
.course_search,.resource_upload,.ranking,.experimental_course,.test_video,.relevant,.explain,.introduce,.comment,.upload_video,.specifics{
    background: #fff;
}
.course_search{
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.resource_upload{
    padding: 10px;
    margin-bottom: 10px;
}
.transfer{
    margin: 0 auto;
    width: 230px;
    height: 30px;
    display: block;
    background: #3d7508;
    color: #fff;
    border-radius: 3px;
    border: 0;
    font-size: 12px;
    font-family: '微软雅黑';
}
.ranking{
    color: #333;
    font-size: 12px;
    float: left;
    padding-bottom: 10px;
}
.ranking ul{
    margin-top: 10px;
}
.ranking ul li a{
    color: #333;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    float: left;
}
.ranking ul li{
    line-height: 28px;
    margin-right: 10px;
    width: 96%;
    float: left;
}
.ranking ul li span{
    float: right;
}
.ranking ul li i{
    margin-top: 10px;
}
.ranking ul li span{
    color: #808080;
}
.resource_left{
    width: 740px;
    margin: 10px 0;
    float: left;
}
.experimental_course,.test_video{
    float: left;
    width: 100%;
}
.experimental_course h4 a,.test_video h4 a{
    float: right;
    margin-top: 4px;
}
.resource_left ul{
    margin:10px 0 10px 10px;
    float: left;
}
.resource_left ul li{
    border:1px #bfbfbf solid;
    float: left;
    width: 48.2%;
    margin: 0 10px 10px 0;
}
.resource_left ul li a{
    line-height: 40px;
    float: left;
    width: 353px;
    color: #323232;
    font-size: 14px;
    font-family: '微软雅黑';
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.resource_left ul li a img{
    padding: 9px 10px 0 20px;
    float: left;
}
.test_video{
    margin-top: 10px;
}
.test_video ul li a{
    position: relative;
    width: 170px;
    height: 155px;
}
.test_video ul{
    margin:10px 0 0 10px;
}
.test_video ul li{
    border:0;
    margin: 0 12px 0 0;
    width: 170px;
}
.test_video ul li a img{
    padding: 0;
    width: 170px;
    height: 110px;
}
.icon{
    background: url(../images/icon_test_video2.png) no-repeat 30px 10px;
    position: absolute;
    bottom: 0;
    line-height: 45px;
    width: 100%;
    color: #3d7508;
    font-family: '微软雅黑';
    font-size: 14px;
    text-align: center;
}
.experimental_course h4 a,.test_video h4 a{
    float: right;
    margin: 0;
    margin-right: 10px;
    color: #fff;
}
.more{
    margin: 10px 0;
    background: #fff;
    float: left;
    width: 100%;
    padding-bottom: 25px;
}
.more ul{
    margin:10px;
    font-size: 14px;
    font-family: '微软雅黑';
    float: left;
}
.more ul li{
    width: 170px;
    float: left;
    margin-right: 32px;
}
.more ul li img{
    width: 170px;
    height: 110px;
}
.more ul li span{
    color: #3d7508;
}
.more ul li p{
    color: #808080;
    line-height: 30px;
}
.more ul li.last{
    margin:0;
}
.now p{
    text-align: center;
    min-width: 100px;
    margin: 0 auto;
    position: relative;
    top: 25px;
    font-size: 14px;
}
.now p i{
    float: none;
    background: none;
}
.now{
    margin-bottom: 0;
    position: inherit;
    float:left;
}
.relevant{
    margin-top: 10px;
    position: relative;
}
.relevant ul li{
    width: 170px;
    margin: 10px 40px 0;
    height: 154px;
    position: relative;
}
.relevant ul li img{
    width: 170px;
    height: 110px;
}
.documents{
    margin-top: 10px;
    width: 100%;
}
.documents h4{
    background: url(../images/icon_system.png) no-repeat #3d7508 5px;
}
.play{
    width: 710px;
    height: 435px;
    margin:15px auto;
}
.episodes{
    font-family: '微软雅黑';
    font-size: 12px;
    margin:15px;
    height: 30px;
    padding: 15px 0;
}
.episodes a{
    float: left;
    line-height: 25px;
    color: #fff;
    background: #a6a6a6;
    padding:0 15px;
    margin-right: 15px;
    border-radius: 5px;
}
a.is_play{
    background: url(../images/icon_is_play.png) no-repeat #e38f22 12px 6px;
    padding: 0 15px 0 30px;
}
.introduce p{
    text-indent: 2em;
    color: #323232;
    font-family: '微软雅黑';
    font-size: 14px;
    margin: 15px 30px;
    padding-bottom: 20px;
}
.comment h4{
    background: url(../images/icon_comment.png) no-repeat #3d7508 8px 6px;
}
.comment{
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.comment textarea{
    width: 970px;
    height: 130px;
    margin: 15px auto 10px;
    display: block;
    resize:none;
}
.publish{
    float: right;
    color: #fff;
    background: #e38f22;
    font-family: '微软雅黑';
    border:0;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    margin-right: 12px;
}
.content ul li img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    float: left;
    margin:0 15px 20px 0;
    border:1px #ccc solid;
}
.content ul li{
    color: #323232;
    font-family: '微软雅黑';
    font-size: 14px;
    float: left;
    width: 98%;
    margin: 20px 10px 0;
    border-bottom: 1px #ccc solid;
    padding-bottom: 20px;
}
.content ul li span,.content ul li a{
    float: left;
    margin-right: 15px;
}
.content ul li i{
    border:0;
    width: 100px;
    background: none;
    float: left;
    font-size: 12px;
    color: #808080;
}
.content ul li p{
    float: left;
    width: 90%;
    margin: 15px 0 20px;
}
.praise{
    background: url(../images/icon_praise.png) no-repeat;
}
.reply{
    background: url(../images/icon_reply.png) no-repeat;
}
.reply,.praise{
    height: 25px;
    padding-left: 35px;
    line-height: 25px;
    color: #4c4c4c;
    font-size: 12px;
    font-family: '微软雅黑';
}
.check_comment{
    position: inherit;
    font-size:12px;
    float: left;
    margin:30px;
}
.check_comment span i{
    background: none;
    float: none;
}
.upload_video{
    margin:10px 0;
    padding-bottom: 35px;
}
.upload_video h4{
    background: url(../images/icon_upload.png) no-repeat #3d7508 8px 6px;
}
.upload_video img{
    margin: 20px auto 40px;
    display: block;
}
.browse{
    color: #fff;
    background: #3d7508;
    border:1px #305c07 solid;
    width: 55px;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
}
.upload_video ul{
    margin:0 80px;
    position: relative;
}
.upload_video ul li{
    margin-bottom: 8px;
}
.upload_video>ul>li>span{
    width:80px;
    text-align: right;
    color: #8e8e8e;
    font-size: 12px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
}
.upload_video ul li textarea{
    width: 420px;
    height: 110px;
    resize:none;
}
.start{
    color: #fff;
    font-family: '微软雅黑';
    font-size:30px;
    background: #e38f22;
    border:0;
    border-radius: 5px;
    width:200px;
    height: 50px;
    margin:60px auto 0;
    display: block;
}
.specifics{
    height: 665px;
}
.essence{
    font-family: '微软雅黑';
    margin:10px 40px 0;
}
.essence h2{
    color: #323232;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    margin: 20px 0 0;
}
.essence p{
    color: #808080;
    font-size:12px;
    text-align: center;
    margin-bottom: 20px;
}
.essence p i{
    background: none;
    float: none;
}
p.capacity{
    margin-bottom:15px;
    text-align: left;
    color: #323232;
    font-size: 14px;
}
.point_control{
    text-align: center;
    margin-top: 20px;
}
.doubt ul li{
    text-align: center;
}
.doubt ul li p{
    line-height: 120px;
    font-family: '微软雅黑'；
}
.service{
    width: 220px;
    background: #fff;
    height: 235px;
    position: fixed;
    bottom: 150px;
    right: 0;
    border:1px #ccc solid;
}
.service h4{
    padding-left: 10px;
}
.service p{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 20px;
}
.service p i{
    float: none;
    background: none;
    font-size: 16px;
}
.service ul li{
    margin: 10px 0 0 10px;
    color: #333;
}
.service ul li span{
    float: left;
}
.service ul li img{
    float: left;
    margin:0 5px;
}
.service ul{
    margin-bottom: 25px;
}
.service ul li i{
    float: none;
    background: none;
    color: #00a5ff;
    font-size: 20px;
}