<div class="suspend conent" id="img1">
    <h4>通知<a href="javascript:void();" onclick="img1();"></a></h4>
    <i></i>
    <ul>
        <li>全校今天下午搞卫生</li>
    </ul>
</div>
<div class="option_click">
        <div style="width:1000px;margin:0 auto;" id="option">
            <a href="{:U('Index/index')}" class="click_switch">首页</a>
            <a href="{:U('Center/index')}">中心介绍</a>
            <a href="{:U('Show/index')}">成果展示</a>
            <a href="{:U('Lib/index')}">实验室管理</a>
            <a href="{:U('Play/index')}">资源点播共享</a>
            <a href="{:U('Exam/index')}">安全考试</a>
            <a href="{:U('Contact/index')}">联系我们</a>
            <a href="{:U('Person/index')}" style="border-right:1px #b6721b solid;">个人中心</a>
        </div>
</div>
    <div class="switch_page">
        <img src="__PUBLIC__/Home/images/scene.jpg" height="201" width="1000" style="margin:10px 0;">
        <if condition="cookie('uid')">
            <!-- 已登录 -->
            <div class="page_left">
                <h4>用户登陆</h4>
                <i></i>
                <div class="status">
                    <img src="__PUBLIC__/Home/images/1.jpg" height="500" width="500">
                    <ul>
                        <li>用户名：<span>{$info.realname}</span></li>
                        <li>角   色：<span>学生</span></li>
                    </ul>
                    <button class="quit" onclick="javascript:location='{:U('Index/logout')}'">退出登陆</button>
                </div>
            </div>
            <else />
            <!-- 未登录 -->
            <div class="page_left">
                <h4>用户登陆</h4>
                <i></i>
                <div class="user_login">
                    <form method="post" action="__APP__/Home/Index/login">
                    <ul>
                        <li><span>帐&nbsp;&nbsp;&nbsp;号</span><input type="text" name="username" style="width:69%;" /></li>
                        <li><span>密&nbsp;&nbsp;&nbsp;码</span><input type="password" name="password" style="width:69%;" /></li>
                        <li><span style="margin-right: 8px;">验证码</span><input type="text" name="verify" style="width:70px;" />
                            <img src="{:U('Home/Index/verify')}" height="26" onclick="this.src='__APP__/Home/Index/verify/d/'+Math.random();"></li>
                        <li><button class="user_land" type="submit">登陆</button>
                        <button type="button" class="user_enroll" onclick="javascript:location='{:U('Home/Index/register_step1')}'">注册</button></li>
                    </ul>
                    </form>
                </div>
            </div>
        </if>

        <div class="page_centre">
        <h4>中心动态<a href="javascript:void();">更多</a></h4>
            <i></i>
            <div class="example2">
        <ul>
            <li><img src="__PUBLIC__/Home/images/play.jpg" height="152" width="181" alt="1"/></li>
            <li><img src="__PUBLIC__/Home/images/play.jpg" height="152" width="181" alt="2"/></li>
            <li><img src="__PUBLIC__/Home/images/play.jpg" height="152" width="181" alt="3"/></li>
        </ul>
        <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ol>
    </div>
            <div class="trends_time">
                <ul>
                    <volist name="center" id="vo">
                        <li><a href="{:U('Show/view',array('id'=>$vo['id']))}"><p>{$vo.title}</p><span>{$vo.publishtime|strtotime|date="Y-m-d",###}</span></a></li>
                    </volist>
                </ul>
            </div>
        </div>
        <div class="page_right">
            <h4>通知公告</h4>
            <i></i>
            <div class="notice">
                <i class="notice_wire"></i>
                <ul>
                    <volist name="notice" id="vo">
                        <li><a href="{:U('Show/view',array('id'=>$vo['id']))}">{$vo.title}</a></li>
                    </volist>
                </ul>
            </div>
        </div>

        <div class="page_left fast" style="height:240px;">
            <h4>快速通道</h4>
            <i></i>
            <div class="fast_pass">
                <ul>
                    <li><a href="javascript:void();" class="appliance">仪 器 使 用 预 约</a></li>
                    <li><a href="javascript:void();" class="subject">主 要 实 验 课 程</a></li>
                    <li><a href="javascript:void();" class="experiment">实 验 视 频</a></li>
                </ul>
            </div>
        </div>
        <div class="page_centre fruit" style="height:240px;">
        <h4>科研成果<a href="javascript:void();">更多</a></h4>
            <i></i>
            <div class="scientific_fruit">
                <ul>
                    <li><a href="javascript:void();"><img src="__PUBLIC__/Home/images/scientific.jpg" height="68" width="226"><br>国家级中医学实验教学示范中心科研成果</a></li>
                    <li><a href="javascript:void();"><img src="__PUBLIC__/Home/images/scientific.jpg" height="68" width="226"><br>国家级中医学实验教学示范中心科研成果</a></li>
                    <li><a href="javascript:void();"><img src="__PUBLIC__/Home/images/scientific.jpg" height="68" width="226"><br>国家级中医学实验教学示范中心科研成果</a></li>
                    <li><a href="javascript:void();"><img src="__PUBLIC__/Home/images/scientific.jpg" height="68" width="226"><br>国家级中医学实验教学示范中心科研成果</a></li>
                </ul>
            </div>
        </div>
        <div class="page_right system" style="height:240px;">
            <h4>规章制度</h4>
            <i></i>
            <div class="rules_system">
                <ul>
                    <volist name="rules" id="vo">
                        <li><a href="{:U('Show/view',array('id'=>$vo['id']))}"><i class="notice_square"></i>{$vo.title}</a></li>
                    </volist>
                </ul>
            </div>
        </div>

        <div class="page_left friendship">
            <h4>友情链接</h4>
            <i></i>
            <div class="rules_system">
                <ul>
                    <li><a href="javascript:void();"><i class="notice_square"></i>上海中医药大学门户</a></li>
                    <li><a href="javascript:void();"><i class="notice_square"></i>上海中医药大学图书馆</a></li>
                    <li><a href="javascript:void();"><i class="notice_square"></i>上海中医药大学课程中心</a></li>
                    <li><a href="javascript:void();"><i class="notice_square"></i>上海市中医医师临床技能实训中心</a></li>
                    <li><a href="javascript:void();"><i class="notice_square"></i>高等学校实验教学示范中心</a></li>
                </ul>
            </div>
        </div>
        <div class="page_centre icon_laboratory">
        <h4>教学实验室<a href="javascript:void();">更多</a></h4>
            <i></i>
            <div class="laboratory">
                <ul style="float:left;">
                    <li><a href="javascript:void();"><span>1</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>2</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>3</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>4</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>5</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>6</span>生物化学实验室(...</a></li>
                </ul>
                <ul style="float:left;margin: 0 25px;">
                    <li><a href="javascript:void();"><span>7</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>8</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>9</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>10</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>11</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>12</span>生物化学实验室(...</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void();"><span>13</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>14</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>15</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>16</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>17</span>生物化学实验室(...</a></li>
                    <li><a href="javascript:void();"><span>18</span>生物化学实验室(...</a></li>
                </ul>
            </div>
        </div>
        <div class="page_right download">
            <h4>资料下载</h4>
            <i></i>
            <div class="rules_system">
                <ul>
                    <li><a href="javascript:void();"><i class="notice_square"></i>图书软件采购表格下载</a></li>
                    <li><a href="javascript:void();"><i class="notice_square"></i>图书软件采购表格下载</a></li>
                    <li><a href="javascript:void();"><i class="notice_square"></i>图书软件采购表格下载</a></li>
                    <li><a href="javascript:void();"><i class="notice_square"></i>图书软件采购表格下载</a></li>
                    <li><a href="javascript:void();"><i class="notice_square"></i>图书软件采购表格下载</a></li>
                    <li><a href="javascript:void();"><i class="notice_square"></i>图书软件采购表格下载</a></li>
                </ul>
            </div>
        </div>
        <div class="page_whole mien">
            <h4>实验室风采</h4>
            <i></i>
            <div id="demo">
            <table border="0" align=center cellpadding="1" cellspacing="1" cellspace="0" >
            <tr><td valign=top bgcolor=ffffff id="marquePic1">
            <table width='100%' border='0' cellspacing='0'><tr>
            <td align=center><a href='javascript:void();'><img src="__PUBLIC__/Home/images/autoplay_1.jpg" height="153" width="181"><br><br>01</a></td>
            <td align=center><a href='javascript:void();'><img src="__PUBLIC__/Home/images/autoplay_2.jpg" height="153" width="181"><br><br>02</a></td>
            <td align=center><a href='javascript:void();'><img src="__PUBLIC__/Home/images/autoplay_3.jpg" height="153" width="181"><br><br>03</a></td>
            <td align=center><a href='javascript:void();'><img src="__PUBLIC__/Home/images/autoplay_4.jpg" height="153" width="181"><br><br>04</a></td>
            <td align=center><a href='javascript:void();'><img src="__PUBLIC__/Home/images/autoplay_5.jpg" height="153" width="181"><br><br>05</a></td>
            <td align=center><a href='javascript:void();'><img src="__PUBLIC__/Home/images/autoplay_5.jpg" height="153" width="181"><br><br>05</a></td>
            </tr></table>
            </td><td id="marquePic2" valign="top"></td></tr>
            </table>
            </div>
            <div>
            </div>
        </div>
    </div>    
    </div>

</div>