<!DOCTYPE html>
<html>
<head>
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<div id="banner">
	<div id="logo">LOGO</div>
	<ul>
		<!-- 主菜单 -->
		<volist name="main" id="vo">
			<a href="__APP__/Admin/{$vo.url}"><li>{$vo.title}</li></a>
		</volist>
	</ul>
</div>
<div class="left_menu">
	<ul>
		<!-- 左边菜单 -->
		<volist name="nav" id="nav">
			<a href="__APP__/Admin/{$nav.url}"><li class="nav{$nav.level}">{$nav.title}</li></a>
		</volist>
	</ul>
</div>
