<link href="__PUBLIC__/Admin/css/page.css" rel="stylesheet">
<style>
    .pagination{position: relative}
    .pagination .current{margin:0;background: #3d7508}
</style>
<div class="option_click">
        <div style="width:1000px;margin:0 auto;" id="option">
            <a href="{:U('Home/Index/index')}">首页</a>
            <a href="{:U('Home/Center/index')}">中心介绍</a>
            <a href="{:U('Home/Show/index')}">成果展示</a>
            <a href="{:U('Home/Lib/index')}">实验室管理</a>
            <a href="{:U('Home/Play/index')}">资源点播共享</a>
            <a href="{:U('Home/Exam/index')}" class="click_switch">安全考试</a>
            <a href="{:U('Home/Contact/index')}">联系我们</a>
            <a href="{:U('Home/Person/index')}" style="border-right:1px #b6721b solid;">个人中心</a>
        </div>
</div>
<div class="switch_page">
        <div class="personal">
            <h4>个人中心</h4>
            <i></i>
            <div class="personal_profile" id="personal_profile">
                <a href="{:U('Home/Person/index')}">个人中心</a>
                <a href="{:U('Home/Person/pwdChange')}">修改密码</a>
                <a href="{:U('Home/Person/myUpload')}" class="revise">我的上传</a>
            </div>
            <div class="user_data">
                <div class="mine" id="mine">
                    <a href="javascript:void();"class="course">我上传的视频</a>
                    <a href="javascript:void();">我上传的课程</a>
                    <a href="javascript:void();">我学习的课程</a>
                </div>
                <div class="about">
                    <p>共<i>{$count}</i>个</p>
                    <ul>
                        <volist name="list" id="vo">
                            <li><a href="{:U('Play/player',array('type'=>1,id=>$vo['id']))}"><img src="__PUBLIC__/Home/images/play_cover.jpg" height="125" width="223"></a>
                            <div class="details">
                            <h5>{$vo.subject}<a href="{:U('uploadRemove',array('id'=>$vo['id']))}" class="remove">删除</a></h5>
                            <p>简介:{$vo.description}</p><span class="adopt">{$status[$vo['status']]}</span><p style="height:0;">上传时间：{$vo.release_time}</p></div>
                            </li>
                        </volist>
                    </ul>
                <div class="page_turning" style="position: relative">
                    {$_page}
                </div>
        </div>
     </div>
    </div>
</div>