<div class="option_click">
        <div style="width:1000px;margin:0 auto;" id="option">
            <a href="{:U('Home/Index/index')}">首页</a>
            <a href="{:U('Home/Center/index')}">中心介绍</a>
            <a href="{:U('Home/Show/index')}">成果展示</a>
            <a href="{:U('Home/Lib/index')}">实验室管理</a>
            <a href="{:U('Home/Play/index')}" class="click_switch">资源点播共享</a>
            <a href="{:U('Home/Exam/index')}">安全考试</a>
            <a href="{:U('Home/Contact/index')}">联系我们</a>
            <a href="{:U('Home/Person/index')}" style="border-right:1px #b6721b solid;">个人中心</a>
        </div>
</div>
<div class="switch_page">
        <div class="resource_left">
            <div class="experimental_course">
            <h4>主要实验课程<a href="{:U('more', array('id'=>$list[id],'type'=>1))}">更多</a></h4>
                <i></i>
                <ul>
	                <volist name="experiment_list" id="list">
	                	<li><a href="{:U('player', array('id'=>$list[id],'type'=>1))}"><img src="__PUBLIC__/Home/images/icon_method.png" height="23" width="19">{$list.class_name}</a></li>
	                </volist>
                </ul>
            </div>
            
            <volist name="video_subject_list" id="list">
	            <div class="test_video">
	                <h4>{$list.subject}<a href="{:U('more', array('subject'=>$list[subject],'type'=>2))}">更多</a></h4>
	                <i></i>
	                <ul>
	                	<volist name="list.video_info" id="video">
	                		<li><a href="{:U('player', array('id'=>$video[eid],'type'=>2))}"><img src="{$video.cover_path}" height="153" width="181"><p class="icon">{$video.class_name}</p></a></li>
	                	</volist>
	                </ul>
	            </div>
            </volist>
        </div>
        <div class="resource_right">
            <div class="course_search">
                <h4>课程搜索</h4>
                <i></i>

                <form action="{:U('Play/index')}" method="post">
                    <input name="title" type="text" value="" style="height:20px;width:145px;margin: 20px 0 10px 10px;" />
                    <select style="width:70px;color:#323232;height:25px;">
                            <option value ="1">标题</option>
                    </select>
                    <button class="hunt">搜索</button>
                </form>
            </div>
            <div class="resource_upload"><a href="{:U('Play/upload')}"><button class="transfer">资源上传</button></a></div>
            <div class="ranking">
                <h4>点击总排行</h4>
                <i></i>
                <ul>
                    <volist name="views_list" id="vo">
                        <li><i class="notice_square"></i><a href="{:U('Show/view',array('id'=>$vo['id']))}">{$vo.title}</a><span>{$vo.views}</span></li>
                    </volist>
                </ul>
            </div>

        </div>
    </div>