<div class="option_click">
        <div style="width:1000px;margin:0 auto;" id="option">
            <a href="{:U('Home/Index/index')}">首页</a>
            <a href="{:U('Home/Center/index')}">中心介绍</a>
            <a href="{:U('Home/Show/index')}">成果展示</a>
            <a href="{:U('Home/Lib/index')}">实验室管理</a>
            <a href="{:U('Home/Play/index')}" class="click_switch">资源点播共享</a>
            <a href="{:U('Home/Exam/index')}">安全考试</a>
            <a href="{:U('Home/Contact/index')}">联系我们</a>
            <a href="{:U('Home/Person/index')}" style="border-right:1px #b6721b solid;">个人中心</a>
        </div>
</div>
 <div class="switch_page">
        <div class="upload_video">
            <h4>上传视频</h4>
            <i></i>
            <img src="__PUBLIC__/Home/images/process.jpg" height="96" width="500">
            <ul>
            <li><span>选择视频：</span><button class="browse">浏览</button></li>
            <li><span>标题：</span><input name="Fruit" type="text" value="" style="height:25px;width:245px;" /></li>
            <li><span>分类：</span><select style="width:250px;color:#8e8e8e;height:30px;">
                        <option value ="1">中医学</option>
                    </select></li>
            <li style="position: absolute;right: 0;top: 0;"><span>简介：</span><textarea></textarea></li>
            </ul>
            <button class="start">开始上传</button>
        </div>
    </div>
<script type="text/javascript">
    function get_file_name(val){
        document.getElementById("file_name").value=val;
    }
</script>