<include file="Public/base"/>
<style>
	.test_header input[type=radio]{
		width: 13px;
		height: 13px;
	}
	.item_count{
		display: inline-block;
		margin: 0 25px;
	}
	.test_item li{
		margin: 10px;
	}
	.test_item li .item{
		display: inline-block;
		padding: 5px;
		border: 1px solid #CCC;
		width: 99%;
	}
	.item_count span{
		font-size: 16px;
		color:red;
	}
	.item_content{
		width:80%;
		float: left;
	}
	.item_option{
		width: 20%;
		float: left;
		text-align: center;
		line-height: 6;
	}
</style>
<div class='main'>
	<div class="details">
		<h3>{$iname} 试题列表</h3>
	</div>

	<div class='header_action'>
		<div class="test_header" style="float: left">
		<input type="radio" name="order" value="1" class="setOrderRadio" {$order==1 ? "checked" : "" }> 顺序答题
		<input type="radio" name="order" value="2" class="setOrderRadio" {$order==2 ? "checked" : "" }> 随机答题
		</div>
	</div>

	<div class='main_content'>
		<div class='header_seach'>
			<form action="{:U('index')}" method="post" style="float:right;">
				<input type="checkbox" value="all" id="select_all"> 全选
				<div class="item_count">
				已选择题目 <span>{$t_count}</span>
				</div>
				<input type="submit" value="确定" id="confirm">
			</form>
		</div>
		<!--题目列表-->
		<form id="test_form">
		<ul class="test_item">
			<volist name="t_list" id="vo">
			<li>
				<div class="item">
					<div class="item_content">
						<p>{$vo.title}</p>
						<p><input type="radio" name="item"> A.{$vo.opt_a}</p>
						<p><input type="radio" name="item"> B.{$vo.opt_b}</p>
						<p><input type="radio" name="item"> C.{$vo.opt_c}</p>
						<p><input type="radio" name="item"> D.{$vo.opt_d}</p>
					</div>
					<div class="item_option">
						<input type="checkbox" name="tid" value="{$vo.id}" class="t_item" {$vo['selectd']?"checked" : ""}>选择
					</div>
				</div>
			</li>
			</volist>
		</ul>
			<input type="hidden" value="{$tmp_list}" name="pre_value">
		</form>
	</div>
	{$_page}
</div>
<script>
	$(document).ready(function(){
		$(".setOrderRadio").on("change",function(){
			var url = "{:U('setOrder')}";
			var order = $(this).val();
			var iname = "{$_GET['iname']}";
			$.post(url,{iname:iname,order:order},function(data){

			})
		})

		//点击选中
		$(".t_item").on("click",function(){
			var check_status = $(this).is(":checked"); //点击后
			var id = $(this).val();
			var control = check_status ? "add" : "remove";
			var url = "{:U('modified')}";
			var iname = "{$_GET['iname']}";
			$.post(url,{tid:id,control:control,iname:iname},function(data){
				$(".item_count span").text(data);
			})
		})
		//全选
		$("#select_all").on("click",function(){
			var status = $(this).is(':checked');
			$(".t_item").each(function(){
				if($(this).is(':checked') != status){
					$(this).click();
				}
			})
		})
	})


</script>