<include file="Public/base"/>

<div class='main'>
	<div class="details">
	    <h3>实验室管理 > 安全测试题</h3>
	</div>

	<div class='header_action'>
		<span>{$type_name}</span>
		<div>
			<a href='{:U("add")}' class='modal header_btn'>添加</a>
			<a href='{:U("import")}' class='modal header_btn'>导入</a>
		</div>
	</div>

	<div class='main_content'>
		<div class='header_seach'>
			<form action="{:U('index')}" method="post">
				仪器:
				<select name="iid">
					<option value="0">请选择</option>
				</select>
			<input type="submit" value="查询">
			</form>
		</div>
		
		<table class='table'>
			<thead>
				<tr>
					<th>仪器</th>
					<th>是否设置题目</th>
					<th>题量</th>
					<th class='table_action' style="width: 150px">操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="list">
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<a href="{:U('edit',array('id'=>$list['id']))}" class="modal table_btn">编辑</a>
							<a href="{:U('del',array('id'=>$list['id']))}" class='ask_del table_btn_info'>删除</a>
						</td>
					</tr>
				</volist>
			</tbody>
		</table>
	</div>
	{$_page}
</div>
