
<div id='mask_box' style='width:500px;height:260px;'>

	<div id='mask_box_header'>修改密码</div>
	
	<div id='mask_box_content'>
		<form action='{:U("Public/edit_password")}'>
			<table style='width:100%;margin:auto;'>
			<tr>
				<td><div>旧密码：</div></td>
				<td><input type='text' name='old_password'><span class='mest_input'>*</span></td>
			</tr>
			
			<tr>
				<td><div>新密码：</div></td>
				<td><input type='text' name='password'><span class='mest_input'>*</span></td>
			</tr>
		
			<tr>
				<td><div>重复新密码：</div></td>
				<td><input type='text' name='repeat_password'><span class='mest_input'>*</span></td>
			</tr>
				
			<tr>
				<td></td>
				<td>
					<div id='prompt_info' style='font-size:16px;color:red;text-align:left;'></div>
				</td>
			</tr>
			<table>
			
			<div id='mask_box_footer'>
				<input type='submit' value='确定'>
				<input type='button' onclick='remove_mask_box();' value='取消'>
			</div>
		</form>
	</div>
</div>

<script>
	$('#mask_box_footer input[type="submit"]').click(function(){
		if($('#mask_box_content input[name=title]').val() == ""){
			$('#prompt_info').text('菜单名称不能为空').show();
			return false;
		}
		if($('#mask_box_content input[name=name]').val() == ""){
			$('#prompt_info').text('应用名称不能为空').show();
			return false;
		}
		
		var form = $(this).parents("form");
		$.post(form.attr('action'), form.serialize(), function(data){
			if(data.status == '1'){
				location.href=data.url;
			}else{
				$('#prompt_info').text(data.info);								
			}
		},'json');
		return false;
	});
</script>
