
<div id='mask_box'>

	<div id='mask_box_header'><notempty name='id'>编辑角色&nbsp;- {$auth_group.title}<else/>新增角色</notempty></div>
	
	<div id='mask_box_content'>
		<empty name='id'>
			<form action='{:U("add")}' class="modal_form">
		<else/>
			<form action='{:U("edit")}' class="modal_form">
		</empty>
			<table style='width:100%;margin:auto;'>
			<tr>
				<td><div>角色名称：</div></td>
				<td><input type='text' name='title' value='{$auth_group.title}'><span class='mest_input'>*</span></td>
			</tr>
		
			<tr>
				<td><div>描述：</div></td>
				<td>
					<textarea rows="3" cols="40" name='description'></textarea>
				</td>
			</tr>
			
			<tr>
				<td><div>权限：</div></td>
				<td>
					<div id='rule_list'>
						<volist name="rule_list" id="first">
							<label>
								<input type='checkbox' name='rules[]' value='{$first.id}'>
								<span>{$first.title}</span>
							</label>
							<ul>
								<volist name="first._child" id="second">
																	<label>
											<input type='checkbox' name='rules[]' value='{$second.id}'>
											<span>{$second.title}</span>
										</label>
									<ul>
										<volist name="second._child" id="third">
											<li>
												<label>
													<input type='checkbox' name='rules[]' value='{$third.id}'>
													<span>{$third.title}</span>
												</label>
											</li>
										</volist>
								
									</ul>
								</volist>
							</ul>
						</volist>
					</div>
				</td>
			</tr>
			
			<tr>
				<td></td>
				<td>
					<div id='prompt_info' style='font-size:16px;color:red;text-align:left;'></div>
				</td>
			</tr>
			
			<input type='hidden' name='id' value='{$auth_group.id}'>
			
			<table>
			
			<div id='mask_box_footer'>
				<input type='submit' value='确定'>
				<input type='button' onclick='remove_mask_box();' value='取消'>
			</div>
		</form>
	</div>
</div>

<script>

	$(function(){
		//选中
		var arr = [{$auth_group.rules}];
		$("input[type='checkbox']").each(function(){
			if($.inArray( parseInt(this.value, 10), arr) > -1){
				$(this).prop('checked', true);
			}
		});
		
		var check_val = false;
	    $('#rule_list label').click(function(){
	    	check_val = $(this).find("input[type='checkbox']").prop('checked');
	    	$(this).next('ul').find("input[type='checkbox']").each(function(){
	    		$(this).prop('checked', check_val);
	    	});
	    });

		
		$('#mask_box').height('80%');
		$('#mask_box').width('800');
		$('#mask_box_footer').css('position', 'relative');
		$('#mask_box').css('overflow', 'auto');
	});

	$('#mask_box_footer input[type="submit"]').click(function(){
		if($('#mask_box_content input[name=title]').val() == ""){
			$('#prompt_info').text('角色名称不能为空').show();
			return false;
		}
		return ajax_post();
	});
</script>
