<include file="Public/base"/>


<div class='main'>

	<div class="details">
	    <h3>首页 > 菜单管理</h3>
	</div>

	<div class='header_action'>
		<span>菜单列表</span>
		<div>
			<a href='{:U("add")}' class='modal header_btn'>添加菜单</a>
		</div>
	</div>
	
	<div class='main_content'>
		<table class='table'>
			<thead>
				<tr>
					<th style='width:180px;'>排序</th>
					<th style='width:80px;'>ID</th>
					<th>菜单名称</th>
					<th>应用</th>
					<th style='width:300px'>操作</th>
				</tr>
			</thead>
			
			<tbody>
				<volist name="menu_list" id="first">
					<tr id='node-{$first.id}'>
						<td>
							<img class='toggle' name='{$first.id}' src='__PUBLIC__/Admin/Images/toggle-collapse-dark.png'>
							<input type='text' name='sort' value='{$first.sort}' style='text-align:center;'menu_id='{$first.id}' onblur='update_sort(this)'>
						</td>
						<td>{$first.id}</td>
						<td>{$first.title}</td>
						<td>{$first.name}</td>
						<td>
							<a href="{:U('add',array(pid=>$first[id]))}" class="modal table_btn">添加子菜单</a>
							<a href="{:U('edit',array(id=>$first[id]))}" class="modal table_btn">编辑</a>
							<a href="{:U('del',array('id'=>$first[id]))}" class='ask_del table_btn_info'>删除</a>
						</td>
					</tr>
					
					<volist name="first._child" id="second">
						<tr class='node{$first.id}' style='display:none;'>
							<td>
							    <notempty name="second._child">
							    	<div class='toggle2'>
										<img name='{$second.id}' src='__PUBLIC__/Admin/Images/toggle-expand-dark.png'>
										<input type='text' name='sort' value='{$second.sort}' menu_id='{$second.id}' style='text-align:center;' onblur='update_sort(this)'>
									</div>
								<else/>
									<input style='position:relative;left:45px;text-align:center;' type='text' name='sort' value='{$second.sort}' menu_id='{$second.id}' style='text-align:center;' onblur='update_sort(this)'>
							    </notempty>
							</td>
							<td>{$second.id}</td>
					    	<td class='second'>├─{$second.title}</td>
							<td>{$second.name}</td>
							<td>
								<a href="{:U('add',array(pid=>$second[id]))}" class="modal table_btn">添加子菜单</a>
								<a href="{:U('edit',array(id=>$second[id]))}" class="modal table_btn">编辑</a>
								<a href="{:U('del',array('id'=>$second[id]))}" class='ask_del table_btn_info'>删除</a>
							</td>
						</tr>
						<volist name="second._child" id="third" key="second_key">
							<tr class='node{$first.id} node{$second.id}' style='display:none;'>
								<td>
								    <notempty name="third._child">
										<div class='toggle2'>
											<img name='{$third.id}' src='__PUBLIC__/Admin/Images/toggle-expand-dark.png'>>
											<input type='text' name='sort' value='{$third.sort}' style='text-align:center;'menu_id='{$third.id}' onblur='update_sort(this)'>>
										</div>
									<else/>
										<input style='position:relative;left:60px;text-align:center;' type='text' name='sort' value='{$second.sort}' menu_id='{$second.id}' style='text-align:center;' onblur='update_sort(this)'>
								    </notempty>
								</td>
								<td>{$third.id}</td>
								<td class='third'>├─{$third.title}</td>
								<td>{$third.name}</td>
								<td>
									<a href="{:U('ad',array(pid=>$third[id]))}" class="modal table_btn">添加子菜单</a>
									<a href="{:U('edit',array(id=>$third[id]))}" class="modal table_btn">编辑</a>
									<a href="{:U('del',array('id'=>$third[id]))}" class='ask_del table_btn_info'>删除</a>
								</td>
							</tr>
						</volist>
					</volist>
				</volist>
			</tbody>
			
		</table>
	</div>
</div>

<script>

	$(".main td img").click(function(){
		if($(this).attr('src') == '__PUBLIC__/Admin/Images/toggle-expand-dark.png'){
			$(this).attr('src', '__PUBLIC__/Admin/Images/toggle-collapse-dark.png');
			$('.node'+$(this).attr('name')).hide(0);
		}else{
			$(this).attr('src', '__PUBLIC__/Admin/Images/toggle-expand-dark.png');
			$('.node'+$(this).attr('name')).show(0);
		}
	});
	
	function update_sort(obj){
		$.post("{:U('update_sort')}", {id:$(obj).attr('menu_id'),sort:$(obj).val()});
	}
</script>

