body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:944px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:944px;
}
#u1 {
  position:absolute;
  left:2px;
  top:464px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:114px;
  width:1680px;
  height:536px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:536px;
}
#u3 {
  position:absolute;
  left:2px;
  top:260px;
  width:1676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1640px;
  height:58px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1640px;
  height:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:1636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:10px;
  width:158px;
  height:37px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:220px;
  top:68px;
  width:1680px;
  height:36px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:1676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:237px;
  top:79px;
  width:25px;
  height:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:275px;
  top:79px;
  width:27px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:220px;
  top:113px;
  width:1680px;
  height:42px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:42px;
}
#u15 {
  position:absolute;
  left:2px;
  top:13px;
  width:1676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1846px;
  top:128px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:241px;
  top:127px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:106px;
  top:76px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:106px;
  top:107px;
  width:40px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:106px;
  top:130px;
  width:79px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:22px;
  top:77px;
  width:65px;
  height:65px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:40px;
  top:195px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:7px;
  top:195px;
  width:25px;
  height:16px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:7px;
  top:221px;
  width:183px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:166px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:183px;
  height:1px;
}
#u33 {
  position:absolute;
  left:7px;
  top:233px;
  width:183px;
  height:176px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:176px;
}
#u34 {
  position:absolute;
  left:2px;
  top:80px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:442px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:7px;
  top:442px;
  width:25px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:7px;
  top:468px;
  width:183px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:166px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:183px;
  height:1px;
}
#u40 {
  position:absolute;
  left:7px;
  top:481px;
  width:183px;
  height:176px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:176px;
}
#u41 {
  position:absolute;
  left:2px;
  top:80px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:297px;
  top:174px;
  width:66px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:320px;
  top:127px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:400px;
  top:127px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:393px;
  top:151px;
  width:66px;
  height:4px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:4px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:254px;
  top:186px;
  width:33px;
  height:22px;
  color:#FFFFFF;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:297px;
  top:202px;
  width:170px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:476px;
  top:202px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0D7BD5;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1842px;
  top:179px;
  width:34px;
  height:16px;
  color:#999999;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:220px;
  top:229px;
  width:1680px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u59 {
  position:absolute;
  left:297px;
  top:253px;
  width:66px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:254px;
  top:265px;
  width:33px;
  height:22px;
  color:#FFFFFF;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:297px;
  top:281px;
  width:170px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:476px;
  top:281px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0D7BD5;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:1842px;
  top:258px;
  width:34px;
  height:16px;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:220px;
  top:308px;
  width:1680px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u70 {
  position:absolute;
  left:297px;
  top:331px;
  width:66px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:254px;
  top:343px;
  width:33px;
  height:22px;
  color:#FFFFFF;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:297px;
  top:359px;
  width:170px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:476px;
  top:359px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0D7BD5;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1842px;
  top:336px;
  width:34px;
  height:16px;
  color:#999999;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:220px;
  top:386px;
  width:1680px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u81 {
  position:absolute;
  left:297px;
  top:408px;
  width:66px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:254px;
  top:420px;
  width:33px;
  height:22px;
  color:#FFFFFF;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:297px;
  top:436px;
  width:170px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:476px;
  top:436px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0D7BD5;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1842px;
  top:413px;
  width:34px;
  height:16px;
  color:#999999;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:220px;
  top:463px;
  width:1680px;
  height:10px;
}
#u91_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u92 {
  position:absolute;
  left:297px;
  top:487px;
  width:66px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:254px;
  top:499px;
  width:33px;
  height:22px;
  color:#FFFFFF;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:297px;
  top:515px;
  width:170px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:476px;
  top:515px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0D7BD5;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:1842px;
  top:492px;
  width:34px;
  height:16px;
  color:#999999;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:220px;
  top:542px;
  width:1680px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u103 {
  position:absolute;
  left:1525px;
  top:582px;
  width:100px;
  height:30px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1776px;
  top:582px;
  width:100px;
  height:30px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1625px;
  top:582px;
  width:151px;
  height:30px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:241px;
  top:127px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:320px;
  top:127px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:400px;
  top:127px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:1760px;
  top:0px;
  width:160px;
  height:58px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:58px;
}
#u116 {
  position:absolute;
  left:2px;
  top:21px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1660px;
  top:0px;
  width:90px;
  height:58px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u118 {
  position:absolute;
  left:2px;
  top:21px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1760px;
  top:0px;
  width:160px;
  height:58px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:58px;
}
#u120 {
  position:absolute;
  left:2px;
  top:21px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1760px;
  top:56px;
  width:160px;
  height:137px;
  overflow:hidden;
}
#u121_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:137px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u121_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:155px;
  height:132px;
}
#u122_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:161px;
  height:138px;
}
#u123 {
  position:absolute;
  left:2px;
  top:58px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:13px;
  top:14px;
  width:25px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:59px;
  top:14px;
  width:53px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:13px;
  top:56px;
  width:25px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:59px;
  top:56px;
  width:53px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:2px;
  top:37px;
  width:155px;
  height:10px;
}
#u132_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_end {
  position:absolute;
  left:138px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u133 {
  position:absolute;
  left:13px;
  top:105px;
  width:25px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:59px;
  top:105px;
  width:53px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:2px;
  top:80px;
  width:155px;
  height:10px;
}
#u137_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_end {
  position:absolute;
  left:138px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_line {
  position:absolute;
  left:0px;
  top:5px;
  width:155px;
  height:1px;
}
#u138 {
  position:absolute;
  left:199px;
  top:0px;
  width:104px;
  height:58px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:58px;
}
#u139 {
  position:absolute;
  left:2px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:233px;
  top:17px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:351px;
  top:17px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:485px;
  top:17px;
  width:181px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
